* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Rubik', sans-serif;
}

nav {
    margin-top: 60px;
}

.list {
    display: flex;
}

.item {
    font-weight: 400;
    font-size: 18px;
    color: #363853;
    margin-right: 60px;
}

.itemis {
    font-weight: 400;
    font-size: 18px;
    color: #FF6838;
}

.btn1 {
    background: #FF7A50;
    box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
    border-radius: 5px;
    border: none;
    width: 120px;
    height: 50px;
    margin-left: 60px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

.opo {
    display: flex;
    margin-top: 10px;
}

.super {
    margin-top: 226px;
    font-weight: 500;
    font-size: 66px;
    text-transform: capitalize;
    color: #363853;
    margin-bottom: 23px;
}

.food {
    color: #FF7A50;
}

.we {
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    color: #363853;
}

.btn2 {
    margin-top: 44px;
    background: #FF7A50;
    box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
    border-radius: 5px;
    width: 163px;
    height: 50px;
    border: none;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.iki {
    display: flex;
}

.down {
    margin-top: 57px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #363853;
    margin-left: 30px;
}

.img {
    position: relative;
    margin-top: 100px;
}

.min {
    position: absolute;
    right: 450px;
    top: 120px;
}

.double {
    position: absolute;
    right: -1px;
    top: 250px;
}

/* ---------------------------------section start----------------------- */
.section1 {
    background-color: #F9FAFE;
}

.our {
    margin-top: 90px;
    font-weight: 500;
    font-size: 36px;
    text-transform: capitalize;
    color: #363853;
    margin-bottom: 55px;
}

.cat {
    color: #FF7A50;
}

.vaz {
    width: 210px;
    height: 70px;
    background: #FF7A50;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    text-align: center;
    padding-top: 15px;
}

.ard {
    background: #FFFFFF;
    border-radius: 8px;
    width: 210px;
    height: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 39px;
}

.bard {
    width: 208px;
    height: 289px;
    background: #FFFFFF;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 150px;
}

.bard-p {
    font-weight: 400;
    font-size: 15px;
    color: #363853;
    margin-top: 20px;
}

.pul {
    font-weight: 500;
    font-size: 15px;
    color: #363853;
}

.btn3 {
    width: 106px;
    height: 32px;
    background: #FF7A50;
    border-radius: 2px;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    border: none;
}

.stas {
    margin-top: 120px;
    font-weight: 500;
    font-size: 36px;
    text-transform: capitalize;
    color: #FF7A50;
}

.stay {
    color: #363853;
}

.provide {
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    color: #363853;
    opacity: 0.9;
    margin-bottom: 15px;
}

.btn4 {
    width: 176px;
    height: 58px;
    background: #FF7A50;
    box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
    border-radius: 30px 30px 1px 30px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    margin-top: 40px;
}

/* ----------------------------------section3 start-------------------------- */
.section3 {
    background-color: #F9FAFE;
}

.top {
    margin-top: 128px;
    font-weight: 500;
    font-size: 36px;
    text-transform: capitalize;
    color: #363853;
    margin-bottom: 50px;
}

.resturant {
    color: #FF7A50;
}

.card {
    width: 361px;
    height: 417px;
    background: #FFFFFF;
    border-radius: 53px 5px;
    margin-bottom: 43px;
    border: none;
}

.card-p {
    margin-top: 22px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 24px;
    color: #363853;
}

.time {
    font-weight: 300;
    font-size: 18px;
    color: #363853;
    opacity: 0.9;
    margin-left: 20px;
    margin-top: 14px;
}

.fa {
    display: flex;
}

.btn5 {
    margin-top: 12px;
    margin-left: 30px;
    width: 79px;
    height: 33px;
    background: #FF7A50;
    box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.19);
    border-radius: 20px 20px 0px 20px;
    border: none;
    color: #F9FAFE;
}

/* ----------------------------section4 start-------------- */
.download {
    margin-top: 280px;
    font-weight: 500;
    font-size: 36px;
    text-transform: capitalize;
    color: #363853;
}

.mobile {
    color: #FF7A50;
}

.its {
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    color: #363853;
    opacity: 0.9;
    margin-bottom: 30px;
}

.what {
    margin-top: 150px;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 0.5px;
    color: #363853;
    margin-bottom: 67px;
}

.has {
    margin-top: 133px;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    letter-spacing: 0.5px;
    color: #363853;
    margin-bottom: 74px;
}

.angile {
    font-weight: 500;
    font-size: 20px;
    color: #FF7A50;
    margin-bottom: 18px;
}

.lover {
    font-weight: 400;
    font-size: 14px;
    color: #AAAAAA;
}

.dard {
    text-align: center;
    width: 1250px;
    height: 312px;
    background: #FF7A50;
    border-radius: 25px;
    margin: auto;
}

.Subscribe {
    padding-top: 59px;
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 12px;
}

.get {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    padding-bottom: 35px;
}

.lolo {
    position: relative;
}

.in2 {
    width: 838.5px;
    height: 78px;
    background: #FFFFFF;
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
    border: none;
    border-radius: 70px;
    padding-left: 43px;
    font-weight: 400;
    font-size: 18px;
    color: #363853;
    opacity: 0.9;
}

.btn8 {
    position: absolute;
    width: 191.1px;
    height: 58.5px;
    background: #FF7A50;
    border-radius: 70px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    right: 220px;
    top: 10px;
}

footer {
    margin-top: 120px;
}

.servise {
    line-height: 39px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #37383D;
}
.servises{
    line-height: 39px;
}
